@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

.article-content h2 {
  @apply text-2xl font-bold mt-6 mb-3 text-gray-900 dark:text-white;
}

.article-content p {
  @apply mb-4 text-gray-700 dark:text-gray-300 leading-relaxed;
}

.article-content ul {
  @apply list-disc list-inside mb-4 text-gray-700 dark:text-gray-300;
}

.article-content li {
  @apply mb-2;
}
